#header-container {
    height: 15%;
    min-height: 10vh;
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: white;
}

.header-item {
    flex: 1;
}

button, ::-webkit-file-upload-button {
    font-size: 2em;
    border: 2px solid #C0b283;
    border-radius: 5px;
    
    background-color: #f4f4f4;
    color: #373737;
}

button:hover, ::-webkit-file-upload-button:hover {
    background-color: #C0b283;
    color: #f4f4f4;
    cursor: pointer;
}